@model Domain.DTO.ShowExaminationsForEmployeeDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<a asp-action="ExamineEmployee" asp-route-id="@Model.EmployeeId">Examine Employee</a>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Company.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Employee.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Date taken
            </th>
            <th>
                polyxlinic
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Examinations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTaken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Polyclinic.PolyclinicName)
                </td>
            </tr>
        }
    </tbody>
</table>

